@import "settings";
@import "foundation";
@import 'https://fonts.googleapis.com/css?family=Space+Mono:400,700';
@import 'https://fonts.googleapis.com/css?family=Arvo:700';


// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

body{
    background-color: #FDF5EF;
    font-family: 'Space Mono', monospace;
}

h1{
    text-align: center;
    font-family: 'Arvo', serif;
    font-weight: 700;
    font-size: 6.4em;
}

.container {
    margin: 25px auto;
    width: 80%;
    background-color:white;
}

.inline-list{
     display: table;
     margin: 0 auto;
}

ul{
    list-style-type:none;
    width: 75%;
    text-align: center;
    margin: 0 auto;
}

ul.menu{
    display: flex;
    justify-content: space-between;
}
li{
    list-style-type:none;
    padding-left: 10px;
    padding-right: 10px;
}

li:hover{
    background-color: #FAFA4A;
    color: black;
}

li a{
    font-size: 1.2em;
    color: black;
    font-weight: 700;
}

li a:focus{
    outline: 0;
}

.about{
    margin: 0 auto;
}

.icon-straw{
    width: 70px;
    height: 66px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    background-color: #FB7777;
    position: absolute;
    left:0;
}

.outline{
    height: 66px;
    border: 1px solid #eee;
    background: #fbfbfb;
    margin-bottom: 20px !important;
}

.sub-container{
    width: 80%;
    margin: 0 auto;
}

.middle{
    vertical-align: middle;
    font-size: 1.4em;
    color: black;
    padding-top: 16.5px;
    float: left;
}
