@import "settings";
@import "foundation";
@import 'https://fonts.googleapis.com/css?family=Lato:100,300,400,700';

$main: #000;
$subcolor: #000;

* {
  box-sizing: border-box; 
}

body {
  margin: 0; 
  background-color: #FFF;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
        -webkit-font-smoothing: antialiased;
}

.name{
  font-size: 3em;
  text-align: center;
  font-weight: 700;
}
.about {
  position: absolute;
  bottom: 20px;
  margin: auto;
  left:0;
  right:0;
  li a:hover{
    background-color: white;
    font-weight: 700;
    color:black;
  }
}

.aboutpage{
  // background: rgba(255, 60, 60, 0.15);
  background: rgba(255, 99, 99, 0.17);
  height: 100vh !important;
}
.aboutpic {
  width: 150px;
  img{
    min-width: 150px;
    width: 120px;
    border-radius: 100%;
  }
}

.aboutwriteup{
  padding: 20px;
  margin-left: 30px;
  flex: 1;
  /* Grow to rest of container */
  p{
    text-align: left !important;
  }
}

.aboutbanner{
  width: 800px !important;
  display: flex;
  margin: 0 auto;
  padding: 1.5rem 2.5rem;
  color: #232d5c;
}

.bold{
  font-weight: 700;
}

.banner{
  background: #fff;
  outline: 1px solid #Fff;
  outline-offset: 10px;
  width: 700px;
  position:absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  left:0;
  right:0;
  padding: 30px 30px 15px 30px;

  h1{
    text-align: center;
  }
  p{
    text-align: center;
    color: #404040;
  }
}
ul{
  list-style-type: none;
}

p{
    color: #404040 !important;
  }

.sidebar{
  border-right: 1px solid #eee;
  text-align: center;
  background: #fff;
  padding: 10px;
  position: fixed;
  z-index: 2;
  width: 150px;
  height: 100%;
  top: 0;
  left: 0;

  ul{
    margin-left: 0;
    list-style-type: none;
    padding: 0;
    padding-bottom: 60px;
    li{
      a{
        text-decoration: none;
      }
    }
  }
}


.image{
  position: absolute;
  width: 100%;
  height: auto;
}

.container{
  padding: 50px;
}


.coding-projects{
    padding-bottom: 10px;
    color: black;
    font-weight: 600;
    font-size: 1.1em;
}

.project-link{
  padding-bottom: 10px;
}

section.unchartedWaters{
  background-color: rgba(0, 0, 0, 0.06);
}

section.stabdash{
   // background-color: #A4C639;
   background-color: rgba(0, 0, 0, 0.06);
}
section.findpoc{
  // background-color: #aadbd8;
  background-color: rgba(0, 0, 0, 0.06);
}

section.touchtunes{
  // background-color: #6AABF5;
  background-color: rgba(0, 0, 0, 0.06);
}

section {
  position: relative;
  left:150px;
  width: calc(100% - 150px);
  display: table;
  margin: 0;
  max-width: none;
  background-color: white;
  height: 100vh;
  
  &:nth-of-type(2n) {
    background-color: #fff;
  }
}

.intro {
  height: 50vh;
  position: relative;
}


h1 {
  font-size: 5em;
  display: block;
  color: white;
  font-weight: 700;
}

p {
  font-size: 1.2em;
  font-weight: 500;
  color: #C3CAD9;
}

a {
  font-weight: 700;
  color: #373B44;
  position: relative;
  
  &:active {
    top: 1px;
  }
}



h1{
  font-weight: 700;
  color: $main;
}

.features {
  margin-left: 0px;
  li{
    padding: 2px;
    font-weight: 400;
    font-size: 1.2em;
    img{
      width: 15px;
      position:relative;
      bottom: 2px;
      right: 3px;
    }
  }
}


.specific-features{
  color: $subcolor;
  font-size: 1.4em;
  font-weight: 700;
  padding-bottom: 3px;
  display:block;
}


.project-description{
  font-weight: 400;
  font-size: 1.2em;
}

.project-description-captions{
  padding-top: 5px;
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 1.1em;
}

.labels{
  font-size: 1em;
  font-weight: 700;
  color: #000;

}

.project-infos{
  padding-top: 40px;
  margin-bottom: 50px;
}

.lined-list{
  margin-top: 5px;
}

.underline{
  border-bottom: 5px solid rgba(59,195,173, 0.5);;
}

.lined-list ul li{
  padding: 0px;
  font-weight: 400;
  font-size: 1.3em;
  margin-top: 2px;
}

.inline-list{
     display: table;
     margin: 0 auto;
}

li {
  a.current{
    background-color: $main;
    color:white;
  }
  a{
    font-size: 1em;
    color: black;
    font-weight: 400;
    display: block;
  }
}
  

li a:hover{
    background-color: $main;
    color:white;
}

li a:focus{
    outline: 0;
}

.dailybruinLink{
  a{
    color: blue;
    font-weight: 700;
     &:hover{
      background: transparent !important;
      cursor: pointer;
      color: lightblue;
    }
  }
 
  
  text-decoration: underline;
}


.projects-project{
  margin-top: 50px;
}

.profile{
    background: $main;
}

.profile-contact{
      height: 100%;
      position: fixed;
      width: 100%;
      background: $main;

}

.section-headers{
    margin-top:-40px;
    p{
        font-size: 3.3em;
        color:white;
        font-weight: 300;
        margin-bottom:40px;
    }
    :after{
        content: "";
        display: block;
        background: #fff;
        width: 18px;
        height: 1px;
        margin-top: .02em;
    }
}

.highlight-stabdash{
  background: rgba(164,198,57, 0.5);
}

.highlight-poc{
  background: rgba(170,219,216, 0.5);
}

.highlight-uncharted{
  background: rgba(0, 128, 198, 0.5);
}

.work-info-section-header{
    p{
        color: black;
    }
    :after{
        background:black;
    }
    
}
.profile-img{
    height: 130px;
    width: 130px;
    float: left;
    img{
        border-radius: 130px;
    }
    border-radius: 130px;
    margin-right: 30px;
}

.social-accounts{
  display: table;
  width: 100%;
  text-align: center;
  margin-left: 0;
  margin-top: 20px;
    li{
        display: table-cell;
        a{
            display: inline-block;
            text-align: center;
            img.svg{
                vertical-align: middle;
                display: block;
                width: 30px !important;
                min-width: 5px;
                border-radius: 0;
            }
        }
        a:hover{
          background: transparent !important;
          cursor: pointer;
        }
    }
}

.profile-description{
    position:relative;
    margin-left: 10%;
    width: 90%;
    p{
        color:white;
        font-weight: 400;
        font-size: 1.4em;
        line-height: 2;
    }
}


@media only screen and (max-width: 800px) {
    .profile-description{
        width: 90%;
        p{
          font-size:1em;
        }
    }
    .profile-img{
        height: 80px;
        width: 80px;
    }
}

@media only screen and (max-width: 650px) {

    .profile-description{
        width: 100%;
        top: 5px;
    }
    .profile-img{
        height: 60px;
        width: 60px;
    }

    .project-pic{
        padding: 10px;
        a 
        {
          display: block;
          text-align: center;
          img{
            max-height: 500px !important;
            margin: 0 auto;
            display: block;
          }
        }
        
    }

}

.project-page h1{
  font-weight: 700;
  font-size: 3em;
  color: #000;
}

.project-pic{
  height: 400px;

}

@media only screen and (max-width: 430px) {

    .profile-description{
        top: 0px;
        width: 100%;
        margin-left: 0% !important;
        text-align: center !important;
        p{
          line-height: 1.5;
        }
    }

    .project-page h1{
      font-weight: 700;
      font-size: 2.5em;
      color: #000;
    }

    .profile-img{
      width:100%;
      height: 100%;
      padding-bottom: 20px;
      display:block;
      text-align: center;
      img{
        border-radius: 130px;
        width: 128px;
        height: 128px;
      }
    }
  }

  .section-headers{
      p{
          margin-bottom:20px;
      }
    }

  .project-pic{
    border-bottom: 1px solid #E0E0E0;
    a{
      img{
        display:block;
        margin: 0 auto;
      }
    }
  }
  .project-pic:last-child{
    border-bottom:none;
  }

  .inline-list{
    li{
      padding: 30px 5px 30px 5px;
    }
  }

  .email{
    font-size: 1.3em !important;
  }


@media only screen and (max-width: 320px) {
    .inline-list{
      li{
        padding: 20px 5px 20px 5px;
      }
    }

    .header{
      height: auto;
    }

    .profile-description{
        p{
          line-height: 150%;
        }
    }

    .section-headers{
      p{
          font-size: 2.5em;
          font-weight: 300;
          margin-bottom:20px;
      }
    }

    .email{
      font-size: 1.1em !important;
    }

}

.project-pic{
    padding: 10px;
    a img{
        max-height: 160px;
        display:block;
        margin: 0 auto;
    }
}

.proj-desc {
 padding-top: 10px;
}
.proj-desc p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 1em;
  margin-bottom: 0;
}
.proj-desc .date {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: .9em;
}

.proj-desc .tags ul {
  list-style-type: none;
  margin-left: 0;
}
.proj-desc .tags ul li {
  display: inline-block;
  font-size: .9em;
  padding: 3px;
  color: #B0B0B0;
}

.proj-name {
  color: $subcolor;
  font-size: 1.4em;
}

/* Mobile Nav */
.nav-open {
  border: 3px solid black;
  height: 30px;
  left: 5%;
  position: absolute;
  top: 6%;
  transform: translate(-50%, -50%);
  width: 30px;
  
  .inner, .inner::before, .inner::after {
    background-color: black;
    content: "";
    display: block;
    height: 3px;
    width: 14px;
    transition: all .5s ease;
  }
  
  .inner {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    
    &::before {
      margin-top: -6px;
      position: absolute;
    }
    
    &::after {
      margin-top: 6px;
      position: absolute;
    }
  }
}

.nav-open.nav-close {
  .inner {
    background-color: transparent;
    left: 54%;
    
    &::before, &::after {
      transform: rotate(45deg);
      transform-origin: 0 50%;
      width: 17px;
    }
    
    &::after {
      transform: rotate(-45deg);
    }
  }
}

.email{
  font-size: 2em;
  font-weight: 300;
  color: white;
}

