body{
	background-image: url("../img/grid.png");
    background-repeat: repeat;
}

ul{
	list-style: none;
	li{
		display: inline;
	    overflow: hidden;
	    text-align: center;
	   	width:100%;
		  a { 
		    color: #66757f;
		    text-decoration: none;

		    &:hover { color: #fb8805; }
		    
		  }
	}
}

nav[role="navigation"] {
  background: white;
}

 